.playerTable {
	width: 100%;
	opacity: 0.3;
	height: 100px;
	display: flex;
	position: relative;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid var(--secondary-color);
}

.playerTable:last-child {
	margin-bottom: 0;
}

.active {
	opacity: 1;
}

.playerTableSide {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.player,
.player:last-child {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: -19px;
}

.player img {
	width: 50px;
}

.hitsWrapper {
	height: 99px;
	margin-top: 1px;
	width: calc(100% - 160px);
}

.hitsRow {
	height: 50%;
	display: flex;
	position: relative;
	text-align: center;
}

.hitsRow:nth-child(2) {
	background-color: var(--secondary-color);
}

.hitsRow:nth-child(2):after {
	top: 0;
	left: 50%;
	z-index: 1;
	content: "";
	width: 33.33%;
	display: block;
	position: absolute;
	height: calc(100% + 1px);
	transform: translateX(-50%);
	border-left: 1px solid var(--primary-color);
	border-right: 1px solid var(--primary-color);
}

.arrow {
	background-color: var(--primary-color);
}

.arrow:nth-child(2) {
	border-left: 1px solid var(--secondary-color);
	border-right: 1px solid var(--secondary-color);
}

.hit,
.arrow {
	flex: 1;
	height: 100%;
	display: flex;
	font-size: 30px;
	max-width: 33.33%;
	align-items: center;
	justify-content: center;
}

.hit {
	display: flex;
	font-weight: bold;
	align-items: center;
	font-size: var(--small);
	justify-content: center;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

.arrow {
	padding: 5px;
}

.arrow img {
	height: 75%;
	width: auto;
}

.totalScore {
	width: 50px;
	height: 50px;
	display: flex;
	font-weight: bold;
	border-radius: 25px;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
