.board {
	flex-wrap: wrap;
	justify-content: center;
}

.boardBtn {
	margin: 0 7px 7px;
	font-weight: bold;
	font-size: var(--small);
}

.boardBtn.active {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
