

.link,
.link:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
.link {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	border-radius: 25px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.linkDisabled {
	background-color: var(--lgray);
	color: var(--gray);
	pointer-events: none;
}
