.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo {
	margin-left: 0;
}

.link {
	display: grid;
	place-items: center;
	padding: 10px;
	min-width: 100px;
	min-height: 50px;
	border-radius: 25px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	margin-left: var(--side-bumper);
    text-decoration: none;
}

.link:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.button {
	min-width: 100px;
	margin-left: var(--side-bumper);
}
