.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo {
	margin-left: 0;
	max-width: 170px;
}

.link,
.gameChosen {
	display: grid;
	place-items: center;
	padding: 10px;
	min-width: 100px;
	min-height: 50px;
	border-radius: 25px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	margin-left: 10px;
	text-decoration: none;
	font-size: var(--x-small);
}

.link {
	margin-left: 0px;
	min-width: 120px;
}

.link:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.gameChosen {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-width: 120px;
	margin-left: 10px;
	font-size: var(--x-small);
}

.round {
	color: red;
}

.active {
	color: yellow;
}

@media screen and (min-width: 450px) {
	.gameChosen {
		width: calc(100% - 100px);
		min-width: 140px;
		font-size: var(--small);
	}
	.link {
		min-width: 80px;
		font-size: var(--small);
	}
}
