.avatar {
    width: 50px;
    text-align: center;
    margin: 0 15px 15px 0;
    position: relative;
}

.avatar:last-child {
    margin-right: 0;
}

img {
    width: 100%;
    height: auto;
}

p {
    margin: 0;
}

.avatarRemoveBtn {
    min-width: 30px;
    min-height: 30px;
    padding: 0;
    transform: rotate(45deg);
    font-size: 25px;
    position: absolute;
    right: -12px;
    top: -12px;
}