.app {
	text-align: center;
	max-width: var(--container);
	margin: 0 auto;
	padding-left: var(--side-bumper);
	padding-right: var(--side-bumper);
	border: 10px solid var(--darker);
	height: calc(100vh - 50px);
	max-height: 780px;
	border-radius: 25px;
	width: 395px;
	background-color: var(--dark);
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}
