:root {
	/* Colors */
	--light: #fff;
	--dark: #2e2e2e;
	--darker: #171714;
	--accent: #a8dadb;
	--green: #00433f;
	--gray: #404040;
	--lgray: #7c7c7c;
	--error: #ff3333;
	--error--dark: #a50f0f;

	--primary-color: var(--green);
	--secondary-color: var(--accent);

	/* Containers */
	--container: 600px;
	--side-bumper: 20px;

	/* Font sizes */
	--x-small: 14px;
	--small: 16px;
	--medium: 18px;
	--large: 24px;
	--x-large: 26px;
	--huge: 34px;

	/* Fonts */
	--thin: 400;
	--normal: 500;
	--bold: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--light);
}
