.wrapper {
	margin-top: auto;
}

.buttonsWrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: space-between;
}

button.selected,
button.selected:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

h2 {
	font-size: var(--small);
	font-weight: 400;
	text-align: left;
	margin: 0 0 6px;
}
.btnHalf:hover,
.btnOneThird:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
.btnHalf {
	width: 48%;
}

.btnOneThird {
	width: 30%;
}
